button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.display-inline {
  display: inline; }

.display-flex {
  display: flex; }

.display-inline-flex {
  display: inline-flex; }

.display-grid {
  display: grid; }

.display-inline-grid {
  display: inline-grid; }

.display-hidden {
  display: hidden; }

.flex-direction-row {
  flex-direction: row; }

.flex-direction-row-reverse {
  flex-direction: row-reverse; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap-wrap {
  flex-wrap: wrap; }

.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-wrap-nowrap {
  flex-wrap: nowrap; }

.flex-1 {
  flex: 1 1 0%; }

.flex-auto {
  flex: 1 1 auto; }

.flex-initial {
  flex: 0 1 auto; }

.flex-none {
  flex: none; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
